<div class="row">
    <div class="col-2">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="/materias" class="nav-link">Materias</a></li>
        <li class="nav-item"><a href="/materias/crear" class="nav-link">Crear Materia</a></li>
      </ul>
    </div>
    <div class="col-10">
      <!-- Aquí se rendereará el contenido específico de cada vista -->
    </div>
  </div>